.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;

    .logo-link {
        text-decoration: none;
        color: rgb(141, 210, 38);
        font-size: 1.5rem;
    }
   
    .nav-link {
        font-size: 1rem;
        text-decoration: none;
        margin-left: 20px;
        color: rgb(177, 177, 177);
    }

    .active {
        color: rgb(39, 39, 39);
    }

    .list {
        margin-bottom: 0;
        padding-left: 0;
        display: flex;

    }
}

